# Ignore virtual environment
clean_env/
venv/
.env

# Bytecode files
__pycache__/
*.pyc
*.pyo

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.csv

# IDE-specific files
.vscode/
.idea/

